#loader {
    /*Applies to the entire loader*/
}
#loader .loader-shutter {
    /*Both the shutters of the loader*/
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 51%;
    background: #1B1C1E;
    z-index: 1000;
}

#loader .loader-shutter.top {
    /*Top shutter of loader*/
}
#loader .loader-shutter.bottom {
    /*Bottom shutter of loader*/
}
.spinner {
    /*The fancy animation in the center*/
}

/*When the page is loaded*/
.loaded #loader {
    
}
.loaded #loader .loader-shutter.top {
    
}
.loaded #loader .loader-shutter.bottom {
    
}
.loaded .spinner {
    
}
